@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", system-ui;
    background-image: url(../Img/Viñedo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 200vh;
    background-attachment: fixed;
    overflow: auto;
    
}

nav{
    width: 100%;
    height: auto;

}

nav div{
    margin-top: 10px;
}

nav div ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

nav div ul li{

    list-style: none;
    width: 130px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    left: -112px;
    transition: all 3s linear;
    border: 1px solid black;
}

nav div ul li:hover{
    left: -20px;
}

nav div ul li a{

    line-height: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: violet;

}

nav #divBodegas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

nav #divBodegas .div1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    
    text-align: center;

}

nav #divBodegas .div1 p{

    width: 140px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 1);
    color: violet;
}

nav #divBodegas .div1 p:hover{

    cursor: pointer;
}

nav #divBodegas .divProducto{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 3px;
}

nav #divBodegas .divProducto .divImg{

    width: 150px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes paraBoton {
    
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
    }
}


nav #divBodegas .divProducto .divImg img{

    width: 100%;
    height: 160px;
    object-position: center;
    border: 2px solid black;
}

nav #divBodegas .divProducto .divImg h2{

    width: 110px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: violet;
    font-size: 15px;
}

nav #divBodegas .divProducto .divImg p{

    font-size: 13px;
    width: 90px;
    background-color: rgba(0, 0, 0, 1);
    color: violet;
}

nav #divBodegas .divProducto .divImg .agregar{

    background-color: black;
    color: violet;
    font-size: 10px;
    font-weight: 900;
    border: 3px solid black;
    position: relative;
    left: 50px;
    bottom: 80px;
}

nav #divBodegas .divProducto .divImg .agregar:hover{

    cursor: pointer;
    
}

nav #divBodegas .divProducto .divImg .agregar:active{

    animation: paraBoton 0.5s linear 0.1s;
}

main{
    width: 100%;
    height: auto;

}

main .linea{

    width: 100%;
    height: 1vh;
    background-color: black;
    border: 1px solid violet;
    display: none;
}

main h1{
    
    margin-top: 15px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1.5);
}

main section{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

main section div{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

main section div .imgDelMain{

    width: 100%;
    height: 220px;
    border-radius: 5px;
    border: 1px solid black;

}

main section div .nombre{

    text-align: center;
    color: violet;
    background-color: rgba(0, 0, 0, 0.9);
    
    margin-top: 5px;
}

main section div .divBotones{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section div .divBotones button{

    font-size: 20px;
    font-weight: 700;
    color: violet;
    background-color: black ;
    width: 20px;
    height: 40px;
    position: relative;
    bottom: 150px;
    margin: 5px;
}

main section div button:hover{

    cursor: pointer;
}

main section div button:active{

    animation: paraBoton 0.5s linear 0.1s;
}

main section div .derecho{

    
}

h2{
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
    text-align: center;
    color: violet;
    text-shadow: 3px 3px 8px rgba(228, 10, 213, 0.9);
    background-color: rgba(0, 0, 0, 0.9) ;
    font-size: 15px;
    
}

footer{

    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgba(223, 235, 234, 0.621);
    border: 1px solid violet;
}

footer .sectionFooter{

    width: 100%;
    display: flex;
    gap: 2px;
    padding: 2px;
}

footer .sectionFooter .contacto{
    width: 60%;
}

footer .sectionFooter .contacto ol{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .sectionFooter .contacto ol .liParaContacto{

    display: flex;
    flex-direction: row;
    gap: 2px;
}

footer .sectionFooter .contacto ol .liParaContacto p{

    font-size: 15px;
    font-weight: 700;
    width: 200px;
}

footer .sectionFooter .contacto ol .liParaContacto a{

    text-decoration: none;
}

footer .sectionFooter .contacto .parrafo{

    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline 2px;
    margin-top: 10px;
}   



footer .sectionFooter .otraFrase{

    width: 45%;
}

footer .sectionFooter .otraFrase p{

    font-size: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}